.authRequired_overlay{
  background-image: url("../assets/images/bg.webp");
  background-blend-mode: overlay;
  background-color: rgba(27, 26, 26, 0.551);
}
.authRequired__message{
  align-self: center;
  font-size: 2rem;
  justify-self: center;
}

.authRequired__window{
 display: flex;
 flex-direction: column;
 gap: 20px;
 justify-content: center;
 align-items: center;
}
