
.footer {
  width: 100%;
  height: 10%;
  position: fixed;
  bottom: 0;
  min-height: 10%;

  background-color: var(--darker-bg-color);


}

.footer__player__wrapper {
  display: flex;
  height: 100%;
  margin: 0 50px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}


.footer__player__track {
  display: flex;
  width: 250px;
  gap: 10px;
  justify-content: start;
  align-items: end;
  font-size: 0.625rem;
}

.footer__player__track__icon {
  border-radius: 50%;
  height: 49px;
  width: 49px;
  overflow: hidden;
  flex-shrink: 0;
}

.footer__player__track__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.footer__player__track__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.footer__player__track__artist {
  font-weight: bold;

}

.footer__player__controls__wrapper {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 57px;
}

.footer__player__btn {

  background-size: cover;
  background-position: center;
}

.back__btn {
  height: 25px;
  width: 25px;
  background-image: url(../assets/icons/player/Back.svg);
}

.play__btn {
  background-image: url(../assets/icons/player/PlayButton.svg);
  height: 35px;
  width: 35px;
  margin: 16px 24px;
  transition: all 0s;
}

.pause__btn {
  background-image: url(../assets/icons/player/pause-btn.svg);
  height: 35px;
  width: 35px;
  margin: 16px 24px;
  transition: all 0s;
}

.next__btn {
  background-image: url(../assets/icons/player/Next.svg);
  height: 25px;
  width: 25px;
}

.footer__player__duration__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 25%;
  max-width: 50%;
  width: 100%;
  height: 5px;
  border-radius: 5px;

}