.podcasts__list {  
  z-index: 2;
  padding: 20px;
 justify-items: center;
  width: 100%;
  height: 100%;
  display: grid;
  background-color: #24242486;
  overflow: scroll;
  scrollbar-width: none;
  gap: 32px;
  grid-template-columns: repeat(5, 1fr);
}
  @media (max-width: 1400px) {
    .podcasts__list {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 1100px) {
    .podcasts__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 800px) {
    .podcasts__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 500px) {
    .podcasts__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }

//  .podcasts_list__item {
 
 
//  }