* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--main-color);
  font-size: 13px;
}

.bar__heading {
  font-weight: 700;
  text-transform: uppercase;
}