:root{
    --main-color: #FFFFFF;
    --bg-color: rgb(27, 26, 26);
    --darker-bg-color:hsla(0, 0%, 0%, 0.2);
  --fill-color: rgba(68, 63, 63, 0.8);  
  --track-color:rgba(239, 237, 237, 0.7);
  --thumb-color: rgba(239, 237, 237, 1);
  --accent-orange-color:rgba(214, 130, 28, 0.8);
  --strong-orange-color: rgba(226, 99, 49, 0.863);
  --form--accent-color: rgba(74, 158, 255, 0.967);
  --light-transparent-black-bg:rgba(49, 46, 40, 0.63);
  --transparent-black-bg:rgba(33, 26, 26, 0.75);
  }