:root{
    --main-color: #FFFFFF;
    --bg-color: rgb(27, 26, 26);
    --darker-bg-color:hsla(0, 0%, 0%, 0.2);
  --fill-color: rgba(68, 63, 63, 0.8);  
  --track-color:rgba(239, 237, 237, 0.7);
  --thumb-color: rgba(239, 237, 237, 1);

  }