@use "./reset";
@use "./typography";
@use "./layouts";
@use "./variables";
@use "./aside";
@use "./hero";
@use "./modalPlaylists";
@use "./modalPlaylistName";
@use "./playlistsPage";
@use "./podcastsPage";
@use "./loginForm";
@use "./registerForm";
@use "./footer";
@use "./genresPage";
@use "./authRequiredPage";
* {
  transition: all 0.3s ease;
}

.page__wrapper {
  background-color: var(--bg-color);
  height: 100%;
  width: 100%;
} 
.auth-form__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  height: 100%;
  width: 100%;
}

.main {
  width: 100%;
  min-width: 100%;
  height: 90%;
  display: flex;

}

.main__container {
  // height: 90%;
  width: 100%;
  height: 100%;
  overflow: hidden;


}

.libraryScreen {
  margin-top: 40px;
  width: 100%;
  max-height: 30vh;
  display: grid;
  background-color: #242424;
  overflow: scroll;
  scrollbar-width: none;
  gap: 16px;
  grid-template-columns: repeat(5, 1fr);
}

.music__screen {
  max-height: 50vh;
  position: relative;
  mask-image:
    linear-gradient(to top, rgba(13, 0, 0, 0.151) 0%, rgba(9, 9, 9, 0.556) 99%, transparent 100%),
    linear-gradient(to left, rgba(103, 100, 100, 0.978) 0%, rgba(160, 156, 156, 0.775) 99%, transparent 100%);

  @media screen and (min-width: 300px) {
    display: none;
  }

  @media screen and (min-width: 700px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.music__screen__part {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.music__screen__heading {
  position: absolute;
  top: 10px;
  left: 10px;
  text-transform: uppercase;
  justify-self: start;
  align-self: flex-start;
  z-index: 10;
}

.swiper__wrapper {
  min-height: 50px;
  max-height: 120px;
  overflow: hidden;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;

}

.music__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  gap: 10%;
  overflow: hidden;
}

.swiper {
  width: 100%;
  max-width: 90%;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

.swiper__wrapper .swiper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;

}

.music__pictures {
  min-height: 12rem;
  max-height: 15rem;
  width: 10rem;
  max-width: 151px;
  background-image: url(../assets/images/track__img__example.jpg);
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: none !important;
}

.swiper__arrow {
  height: 35px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  flex-shrink: 0;
}

.arrow__prev {
  background-image: url(../assets/icons/swiper/arrow__prev.svg);
  margin-right: auto;
}

.arrow__next {
  background-image: url(../assets/icons/swiper/arrow__next.svg);
  margin-left: auto;
}

// #region Latest
.latest__music {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30%;
}

.latest__music__part {
  width: 50%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  pointer-events: none;
}


.latest__heading {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 51px;
  font-size: 0.8rem;
}

.latest__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
  pointer-events: all;
  max-width: 100%;
  padding: 20px;
}

.latest__li {
  display: flex;
  width: 100%;

  &:hover {
    background-color: rgba(68, 63, 63, 0.4);
    border-radius: 4px;

  }

}

.item__wrapp {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-shrink: 1;
  width: 100%;
}

.item__info {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  flex-basis: 3
}

.item__img {
  height: 27px;
  width: 27px;
  border-radius: 50%;
}

.item__name {
  white-space: nowrap;
  max-width: 200px;

}

.item__artist {
  max-width: 200px;
}

.item__options {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 19px;
  flex-shrink: 1;
  flex-basis: 1;

}

.item__order__btn {
  width: 15px;
  height: 15px;
}

.item__settings__btn {
  width: 16px;
  height: 15px;
}

.item__add__btn {
  width: 9px;
  height: 15px;
}

// #endregion



















input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background-color: var(--track-color);
  background-image:
    linear-gradient(var(--fill-color), var(--fill-color)),
    linear-gradient(var(--track-color), var(--track-color));
  background-repeat: no-repeat;
  background-size: calc(var(--progress) + 0.8%) 100%, 100% 100%;
  cursor: pointer;
  outline: none;
  position: relative;
  z-index: 1;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;

}

input[type="range"]::-moz-range-track {
  height: 6px;
  background: transparent;

}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background-color: var(--thumb-color);
  border-radius: 50%;
  border: none;
  margin-top: -6px;
  position: relative;
  z-index: 1;
}

input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background-color: var(--thumb-color);
  border-radius: 50%;
  border: none;
  position: relative;
  z-index: 1;
}

.footer__player__duration {
  width: 100%;
  background-color: #cdcdcd;
}

.pages__wrapper {
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: brightness(0.3);
  z-index: 1;   
}

.playlists__search__wrapper{
  display: flex;
  justify-content: space-between;

  border-radius: 4px;
  height: 40px;
  padding:10px;
  line-height: 40px;
  margin-bottom: 10px;
  max-width: 400px;
  position: relative;
  animation: fire-glow 10s ease-in-out infinite;
  &:hover{
  background-color: var(--black-withOpacity-item-bg);
      color: var(--accent-orange-color);
      & input{
      &::placeholder{
       color: var(--accent-orange-color);
      }
    }
  }
  &:focus{
   background-color: var(--black-withOpacity-item-bg);
      color: var(--accent-orange-color);
      & input{
      &::placeholder{
       color: var(--accent-orange-color);
      }
    }
  }
  &:active{
    
  }
  

}
.playlists__screen__btn__search{
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
}

.back-btn{
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: bold;
  z-index: 1000;
  border:2px solid 47, 46, 46, 0.421;
  width: 100%;
  height: 40px;
  background-color:transparent;
  color: rgb(0, 0, 0);
  display: flex;
  justify-self: center;
  text-align: center;
  align-items: center;
  padding: 20px;
}
.latest__heading.playlist_details__heading.top-bar-heading{   
margin:0;
}
.pages__top-bar{
  align-items: center;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
  height: 40px;
  z-index: 1000;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
      &:hover {
                   z-index: 1000;
    background-color: var(--bg-color);
    border-color: var(--accent-orange-color);
    color: var(--accent-orange-color);

        .top-bar-heading{
          color: var(--accent-orange-color);
          z-index: 1000;
        }
  }
}
.playlist_details__list{
  border-radius: 4px;
}