.modal__overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal__window {
  background-color: #383731e9;
  border-radius: 8px;
  padding: 20px;
  width: 80vw;
  height: 80vh;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal__list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.modal__list__item {
  background-color: #dfc634e9;
  margin-bottom: 10px;
}

.modal__button {
  
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #c64343;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #e2e2e2;
  }
}
.modal__create__btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 6px;
  border: none;
  background-color: #4a4a44;
  color: #fff;        // Білий текст
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: #5a5a53;
  }

  &:active {
    background-color: #3b3b36;
  }
}
.modal__close__btn {
  margin-top: 10px;
  padding: 6px 12px;
  cursor: pointer;
  border: none;
  background-color: #ddd;
  border-radius: 4px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #ccc;
  }
}
