.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal__window {
  background-color: #383731e9;
  border-radius: 8px;
  width: 80vw;
  height: 80vh;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  scrollbar-width: none;
}

.modal__list {
  width: 100%;
  height: 100%;
  min-height: 50%;
  display: grid;
  gap: 1%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.modal__list__item {
  min-width: 150px;
  width: 100%;
  max-height: 250px;
  min-height: 50px;
  background-color: #dfc634e9;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.modal__list__item a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.modal__list__item_name {
  width: 100px;
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__list__item_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal__create__btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 6px;
  border: none;
  background-color: #4a4a44;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.modal__create__btn:hover {
  background-color: #5a5a53;
}
.modal__create__btn:active {
  background-color: #3b3b36;
}

.modal__delete__btn {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.modal__close__btn {
  margin-top: 10px;
  padding: 6px 12px;
  cursor: pointer;
  border: none;
  background-color: #ddd;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}
.modal__close__btn:hover {
  background-color: #ccc;
}