.modalNew__overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.modalNew__window {
  background-color: #383731e9;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 70vw;
  max-width: 350px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modalNew__title {
  margin: 0 0 10px 0;
  font-size: 18px;
  text-align: center;
}

.modalNew__input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: #2e2e29;
  color: #fff;
  font-size: 15px;

  &::placeholder {
    color: #bcbcbc;
  }
}

.modalNew__ok__btn {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  background-color: #4a4a44;
  color: #fff;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: #5a5a53;
  }
  &:active {
    background-color: #3b3b36;
  }
}
