 .latest__list.playlist_details__list {
   padding: 10px 5px;
   gap: 1px;
   width: 100%;
   height: 100%;
   background-color: #02020275;
 }

 .latest__heading.playlist_details__heading {
   letter-spacing: 2px;
   text-shadow: 2px 5px 5px rgb(0, 0, 0);
   color: white;
   font-weight: bold;
   font-size: 1.75rem;
   line-height: 20px;
   border-radius: 8px;
   width: 100%;
   min-width: 200px;
   max-width: 2000px;
   margin: 0 0 10px 0;
   margin-left: 0;
   justify-self: center;
   text-align: center;
   align-items: center;
 }


 .playlist_details__li {
   min-height: 50px;
   background-color: #3f3d3d16;
   padding: 0 20px;

   .item__info {
     flex-direction: row;
   }

   .item__artist {
     max-width: max-content;
   }
 }

 
 .playslists_list__item {

  height: 150px;
  width: 150px;
 }

 
 .playlist__list__item_img {
   object-fit: cover;
   height: 150px;
   width: 150px;
 }
 .playlist__track_name{
  width: 100%;
  text-align: center;
  background-color: #02020275;
 }