 .latest__list.playlist_details__list {
  padding: 5px;
   gap: 1px;
   width: 100%;
   height: 100%;
   background-color: #02020275;

 
 }
 
 .latest__heading.playlist_details__heading {
   letter-spacing: 2px;
   text-shadow: 2px 5px 5px rgb(0, 0, 0);
   color: white;
   font-weight: bold;
   font-size: 1.75rem;
   line-height: 20px;
   border-radius: 8px;
   width: 100%;
   min-width: 100px;
   max-width: 100%;
   margin: 0 0 10px 0;
   margin-left: 0;
   justify-self: center;
   text-align: center;
   align-items: center;
 }


 .playlist_details__li {
   min-height: 50px;
   background-color: #3f3d3d16;
   padding: 0 20px;

   .item__info {
     flex-direction: row;
   }

   .item__artist {
     max-width: max-content;
   }
 }

 
 .playlists__list__item {
  height: 150px;
  width: 150px;
      &:hover {
      filter: brightness(1.2);
      transform: scale(1.02);
  }
  &:active {
    transform: translateY(-2px) scale(1.02);
  }
}
 

 
 .playlist__list__item_img {
   object-fit: cover;
   height: 150px;
   width: 150px;
    border-radius: 4px 4px 0 0;
 }
 .playlist__track_name{
  width: 100%;
  text-align: center;
  background-color: #02020275;
   border-radius: 0 0 4px 4px ;
 }
 .createNewPlaylist_btn{
  height: 150px;
  width: 150px;
  background-color: var(--darker-bg-color);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 4px 4px 0 0;
      &:hover {
      filter: brightness(1.1);
      transform: scale(1.05);
  }
 }
 .new-playlist_btn{
  width: 100px;
  height:100px;
  background-image: url(../assets/images/newPlaylistBtnBg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
 }
 .new-playlist-btn_name{
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #02020275;
     border-radius: 0 0 4px 4px ;
 }
 .playlists__list {  
  z-index: 2;
  padding: 20px;
  justify-items: center;
  width: 100%;
  height: 100%;
  display: grid;
  background-color: rgba(29, 20, 20, 0.75); 
  overflow: scroll;
  scrollbar-width: none;
  gap: 32px;
  grid-template-columns: repeat(5, 1fr);
}
  @media (max-width: 1400px) {
    .playlists__list {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 1100px) {
    .playlists__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 800px) {
    .playlists__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 500px) {
    .playlists__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }