.side__menu{
    background-color: var(--darker-bg-color);
    display: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 15%;
    font-size: 1.6rem;
    flex-direction: column;
    @media screen and (min-width:1100px){
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      
   }
}
 
.open__menu__btn { 
  z-index: 2; 
  display: block;     
  position: absolute; 
  top: 5%;
  left: 3%;
  height: 25px;
  width: 25px;

 
   @media screen and (min-width: 1100px){
    display: none;
    }
}
.is_open{
    border-radius: 0 160px 0 0   ;
 
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    text-transform: uppercase;
    letter-spacing: 2.5px;
    position: absolute;
    top: 0;
    background-color: rgba(27, 26, 26, 0.8);
    text-shadow: 0.5px 0.5px 5px white;
    z-index: 1;
    gap: 50px;
   
}
.burger__svg{
  
  width: 25px;
  height: 25px;
 
}
.navigation {
    z-index: 1;
}
.bar {
    margin:50px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
    text-align: start;
    @media screen and (min-width: 1100px){
        gap: 24px;
    }
}
.library__bar{
    gap: 50px;
    justify-content: start;

}
 
.bar__list{
    display: flex;
    flex-direction: column;
    gap: 1em;
        @media screen and (min-width: 1100px){
           
             height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 24px;
            margin: 30px;
            font-weight: 700;
          
         }
}
.bar__li {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    gap: 25px;
   
}
.bar__li__icon{
    width: 35px;
    height: 35px;
}
.bar__li__name {
    text-wrap: nowrap;
 
}
 
.bar__svg{
    width: 100%;
    height: 100%;
}
 
 

.bar__heading {
margin-left: 30px;
 align-self: start;
}
 

 
.bar__svg {
}
