.hero__screen {
  height: 100vh;
  padding: 0;
  background-image: url("../assets/images/bg.jpg");
  background-size: cover;
  background-position: bottom;
}
@media screen and (min-width: 700px) {
  .hero__screen {
    height: 40vh;
    background-image: url("../assets/images/bg.jpg");
    background-size: cover;
    background-position: bottom;
    text-align: end;
    padding: 20px;
    position: relative;
  }
}

.hero__screen__heading {
  display: none;
}
@media screen and (min-width: 700px) {
  .hero__screen__heading {
    display: inherit;
    font-size: 4rem;
    font-weight: 700;
    justify-self: end;
  }
}

.hero__screen__subheading {
  display: none;
}
@media screen and (min-width: 700px) {
  .hero__screen__subheading {
    display: inherit;
    max-width: 300px;
    justify-self: end;
    font-size: 0.675rem;
  }
}

.hero__screen__btn {
  width: 170px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 17px;
  border-radius: 20px;
  background-color: #443f3f66;
  margin-bottom: 20px;
}

.hero__screen_search__svg {
  width: 24px;
  height: 24px;
}

.hero__screen__btn__search {
  display: none;
  background-image: url(../assets/icons/search.svg);
  position: absolute;
  right: 10px;
  top: 5px;
  width: 24px;
  height: 24px;
}
.is_visible {
  display: inherit;
  animation: charging 2s ease 0ms 2 normal backwards;
}
@keyframes charging {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}