@import "./reset";
@import "./typography";
@import "./layouts";
@import "./variables";
@import "./aside";
@import "./hero";
*{
  transition: all 0.3s ease;
}
.page__wrapper {
  background-color: var(--bg-color);
  height: 100%;
  width: 100%;
  // display: grid;
  // grid-template-columns: 30% 70%;
  // grid-template-rows: 47% 47% 6%;
}

#root {
  height: 100%;
  width: 100%;
}

.main {
  width: 100%;
  min-width: 100%;
  height: 90%;
  display: flex;

}

.main__container {
  width: 100%;
  // height: 90%;
  overflow: hidden;
}

.music__screen {
  max-height: 50vh;
  position: relative;

  @media screen and (min-width: 300px) {
    display: none;
  }

  @media screen and (min-width: 700px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.music__screen__part {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.music__screen__heading {
  position: absolute;
  top: 10px;
  left: 10px;
  text-transform: uppercase;
  justify-self: start;
  align-self: flex-start;
  z-index: 10;
}

.swiper__wrapper {
  min-height: 50px;
  max-height: 120px;
  overflow: hidden;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2% 0;
}
 .music__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  gap: 10%;
  overflow: hidden;
}

.swiper {
  width: 100%;
  max-width: 90%;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

.swiper__wrapper .swiper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  
}

.music__pictures {
  min-height: 12rem;
  max-height: 15rem;
  width: 10rem;
  max-width: 151px;
  background-image: url(../assets/images/track__img__example.jpg);
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: none !important;
}
.swiper__arrow {
  height: 35px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  flex-shrink: 0;
}

.arrow__prev {
  background-image: url(../assets/icons/swiper/arrow__prev.svg);
  margin-right: auto;
}

.arrow__next {
  background-image: url(../assets/icons/swiper/arrow__next.svg);
  margin-left: auto;
}

// #region Latest
.latest__music {

  display: flex;
  flex-basis: 70%;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30%;

}

.latest__music__part {
  width: 25%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  overflow: hidden;
  pointer-events: none;

}


.latest__heading {
  text-transform: uppercase;
  margin-bottom: 21px;
  margin-left: 51px;
  font-size: 0.688rem;
}

.latest__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
  pointer-events: all;
  
}

.latest__li {
      &:hover{
    background-color: rgba(68, 63, 63, 0.4);
    border-radius: 4px;
  }

}

.track__wrapp {
  width: 100%;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: start;


}

.track_info {
  display: flex;
  flex-direction: column;
}

.track__img {
  height: 27px;
  width: 27px;
  border-radius: 50%;
}

.track__name {
  white-space: nowrap;
}

.track__artist {}



// #endregion

















// footer
.footer {
  width: 100%;
  height: 10%;
  position: fixed;
  bottom: 0;
  min-height: 10%;

  background-color: var(--bg-color);


}

.footer__player__wrapper {
  display: flex;
  height: 100%;

  justify-content: space-between;
  margin: 0 50px;
  align-items: center;
  text-align: center;
}


.footer__player__track {
  display: flex;
  width: 250px;
  gap: 10px;
  justify-content: start;
  align-items: end;
  font-size: 0.625rem;
}

.footer__player__track__icon {
  background-image: url(../assets/images/track__img__example.jpg);
  border-radius: 50%;
  height: 49px;
  width: 49px;
}

.footer__player__track__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__player__track__artist {
  font-weight: bold;

}

.footer__player__controls__wrapper {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 57px;
}

.footer__player__btn {

  background-size: cover;
  background-position: center;
}

.back__btn {
  height: 25px;
  width: 25px;
  background-image: url(../assets/icons/player/Back.svg);
}

.play__btn {
  background-image: url(../assets/icons/player/PlayButton.svg);
  height: 35px;
  width: 35px;
  margin: 16px 24px;
  transition: all 0s;
}
.pause__btn {
  background-image: url(../assets/icons/player/pause-btn.svg);
  height: 35px;
  width: 35px;
  margin: 16px 24px;
  transition: all 0s;
}

.next__btn {
  background-image: url(../assets/icons/player/Next.svg);
  height: 25px;
  width: 25px;
}

.btn {}

.footer__player__duration__wrapper {
  // background-image: url(../assets/icons/player/TrackTime.jpg );
  width: 25%;
  height: 5px;
  border-radius: 5px;

}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: linear-gradient(to right, var(--fill-color) 40%, var(--track-color) 40%);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background 0.15s ease-in-out;
}

/* Track (порожній, фон задається через background самого input) */
input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;


}

input[type="range"]::-moz-range-track {
  height: 6px;
  background: transparent;

}

/* Повзунок (thumb) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background-color: var(--thumb-color);
  border-radius: 50%;
  border: none;
  margin-top: -6px; /* Вирівнювання по треку */
  position: relative;
  z-index: 1;
}

input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background-color: var(--thumb-color);
  border-radius: 50%;
  border: none;
  position: relative;
  z-index: 1;
}
.footer__player__duration{
  width: 100%;
}

// SIDE MENU