* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3 ease;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.app {
  width: 100%;
  margin: 0 auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button,
input {
  outline: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--main-color);
  font-size: 13px;
}

.bar__heading {
  font-weight: 700;
  text-transform: uppercase;
}

:root {
  --main-color: #FFFFFF;
  --bg-color: rgb(27, 26, 26);
  --darker-bg-color:hsla(0, 0%, 0%, 0.2);
}

.side__menu {
  background-color: var(--darker-bg-color);
  display: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  width: 15%;
  font-size: 1.6rem;
  flex-direction: column;
}
@media screen and (min-width: 1100px) {
  .side__menu {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.open__menu__btn {
  z-index: 2;
  display: block;
  position: absolute;
  top: 5%;
  left: 3%;
  height: 25px;
  width: 25px;
}
@media screen and (min-width: 1100px) {
  .open__menu__btn {
    display: none;
  }
}

.is_open {
  border-radius: 0 160px 0 0;
  display: flex;
  width: 100%;
  height: 90%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  position: absolute;
  top: 0;
  background-color: rgba(27, 26, 26, 0.8);
  text-shadow: 0.5px 0.5px 5px white;
  z-index: 1;
  gap: 50px;
}

.burger__svg {
  width: 25px;
  height: 25px;
}

.navigation {
  z-index: 1;
}

.bar {
  margin: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: start;
  text-align: start;
}
@media screen and (min-width: 1100px) {
  .bar {
    gap: 24px;
  }
}

.library__bar {
  gap: 50px;
  justify-content: start;
}

.bar__list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media screen and (min-width: 1100px) {
  .bar__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    margin: 30px;
    font-weight: 700;
  }
}

.bar__li {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  gap: 25px;
}

.bar__li__icon {
  width: 35px;
  height: 35px;
}

.bar__li__name {
  text-wrap: nowrap;
}

.bar__svg {
  width: 100%;
  height: 100%;
}

.bar__heading {
  margin-left: 30px;
  align-self: start;
}

.hero__screen {
  height: 100vh;
  padding: 0;
  background-image: url("../assets/images/bg.jpg");
  background-size: cover;
  background-position: bottom;
}
@media screen and (min-width: 700px) {
  .hero__screen {
    max-height: 45vh;
    background-image: url("../assets/images/bg.jpg");
    background-size: cover;
    background-position: bottom;
    text-align: end;
    padding: 20px;
    position: relative;
  }
}

.hero__screen__heading {
  display: none;
}
@media screen and (min-width: 700px) {
  .hero__screen__heading {
    display: inherit;
    font-size: 4rem;
    font-weight: 700;
    justify-self: end;
  }
}

.hero__screen__subheading {
  display: none;
}
@media screen and (min-width: 700px) {
  .hero__screen__subheading {
    display: inherit;
    max-width: 300px;
    justify-self: end;
    font-size: 0.675rem;
  }
}

.hero__screen__btn {
  width: 170px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 17px;
  border-radius: 20px;
  background-color: #443f3f66;
  margin-bottom: 20px;
}

.hero__screen_search__svg {
  width: 24px;
  height: 24px;
}

.hero__screen__btn__search {
  display: none;
  background-image: url(../assets/icons/search.svg);
  position: absolute;
  right: 10px;
  top: 5px;
  width: 24px;
  height: 24px;
}
.is_visible {
  display: inherit;
  animation: charging 2s ease 0ms 2 normal backwards;
}
@keyframes charging {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.page__wrapper {
  background-color: var(--bg-color);
  height: 100%;
  width: 100%;
}

.main {
  width: 100%;
  min-width: 100%;
  height: 90%;
  display: flex;
}

.main__container {
  width: 100%;
}

.music__screen {
  max-height: 45vh;
  position: relative;
  pointer-events: none;
}
@media screen and (min-width: 300px) {
  .music__screen {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .music__screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.music__screen__part {
  display: flex;
  justify-content: center;
  align-items: center;
}

.music__screen__heading {
  position: absolute;
  top: 21px;
  left: 51px;
  text-transform: uppercase;
  justify-self: start;
  align-self: flex-start;
  font-size: 0.688rem;
}

.music__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.music__pictures {
  height: 10rem;
  max-height: 151px;
  width: 10rem;
  max-width: 151px;
  background-image: url(../assets/images/track__img__example.jpg);
  background-size: cover;
  background-position: center;
}

.swiper__arrow {
  height: 35px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper__wrapper {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-basis: 30%;
  justify-content: center;
  flex-direction: column;
  margin: 2% 0 2% 0;
}

.swiper {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.arrow__prev {
  background-image: url(../assets/icons/swiper/arrow__prev.svg);
  margin-right: 53px;
}

.arrow__next {
  background-image: url(../assets/icons/swiper/arrow__next.svg);
  margin-left: 53px;
}

.latest__music {
  display: flex;
  flex-basis: 70%;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30%;
}

.latest__music__part {
  width: 25%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  overflow: hidden;
  pointer-events: none;
}

.latest__heading {
  text-transform: uppercase;
  margin-bottom: 21px;
  margin-left: 51px;
  font-size: 0.688rem;
}

.latest__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
  pointer-events: all;
}

.track__wrapp {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
}

.track_info {
  display: flex;
  flex-direction: column;
}

.track__img {
  height: 27px;
  width: 27px;
  border-radius: 50%;
}

.track__name {
  white-space: nowrap;
}

.footer {
  width: 100%;
  height: 10%;
  position: fixed;
  bottom: 0;
  min-height: 10%;
  background-color: var(--bg-color);
}

.footer__player__wrapper {
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 50px;
  align-items: center;
  text-align: center;
}

.footer__player__track {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: end;
  font-size: 0.625rem;
}

.footer__player__track__icon {
  background-image: url(../assets/images/track__img__example.jpg);
  border-radius: 50%;
  height: 49px;
  width: 49px;
}

.footer__player__track__artist {
  font-weight: bold;
}

.footer__player__controls__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 57px;
}

.footer__player__btn {
  background-size: cover;
  background-position: center;
}

.back__btn {
  height: 25px;
  width: 25px;
  background-image: url(../assets/icons/player/Back.svg);
}

.play__btn {
  background-image: url(../assets/icons/player/PlayButton.svg);
  height: 35px;
  width: 35px;
  margin: 16px 24px;
}

.next__btn {
  background-image: url(../assets/icons/player/Next.svg);
  height: 25px;
  width: 25px;
}

.footer__player__duration__wrapper {
  background-image: url(../assets/icons/player/TrackTime.jpg);
  width: 50%;
  height: 5px;
  border-radius: 5px;
}